{% extends 'base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in task1 %}-->
<!--{{i.name}}-->
<!--{{i.priority}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->



{% block content %}
<div class="shadow card">
               <div class="card-Body" style="margin-left:20px">
                   <h5 class="card-title">{{task.name}}</h5>
                   <p ><b>{{task.priority}}</b></p>
                   <p>{{task.date}}</p>
                   <a class="btn btn-info" href="{% url 'delete' task.id %}" >Done</a>
                   <a class="btn btn-outline-success" href="{% url 'update' task.id %}" >Update</a>
               </div>
           </div>


{% endblock %}


